name: 'Deploy'

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: 'Deploy to Netlify'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '16'
      - run: npm ci --legacy-peer-deps
      - run: npm run build
        env:
          CI: false # TODO: Temp solution, fix code warnings so builds start passing again
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v3.0
        with:
          production-deploy: true
          publish-dir: './build'
          deploy-message: "Deploy from GitHub Actions"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 10
